.FeaturesCard {
  background: #8a74a122 ;
  height: 23rem;
  border: 1px solid #8a74a144;
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.2rem;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    border: 1px solid #8a74a166;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  &:hover .line {
  margin-top: 1rem;
  width: 100%;
  height: 4px;
  background: linear-gradient(
    90deg, 
    rgba(134, 6, 193, 0) 0%,
    #8606c1 20%,
    #c851ff 50%,
    #8606c1 80%,
    rgba(134, 6, 193, 0) 100%
  );
}
}

.FeatureIconContainer {
  border-radius: 20px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FeatureTitle {
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
}

.FeatureDescription {
  font-size: 1rem;
  color: #cccccc;
  line-height: 1.4;
}
