.Filter {
  height: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  gap: 1.5rem;
}

.contentInputSearch {
  height: 4rem;
  width: 85%;
  background-color: #7356946e;
  border: 1px solid #99A1AF;
  border-radius: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 1.5rem;
  gap: 1rem;
  cursor: text;
  & .inputSearch {
    width: 100%;
    height: 100%;
    color: #ffff;
  }
}

.buttonsFilters {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
  & .buttonFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.7rem;
    width: 8rem;
    border: 1px solid #99A1AF;
    border-radius: 20px;
    background-color: #7356946e;
    color: #FDFCFD;
    gap: .7rem;
    padding: 0 .5rem;
    font-size: .9rem;
    cursor: pointer;
  }
  & .active {
    background-color: #23816634;
    border: 1px solid #238167;
  }
  & .numberFilter{
    width: 1.5rem;
    height: 1.5rem;
    background: linear-gradient(100deg, #AF47FF, #D149D2, #F33399);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}