.cardStats {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cardStats:hover .cardIcon{
  transform:  scale(1.1)
              rotate(10deg);
  box-shadow: 0 15px 30px -7px #a844ff;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardIcon {
  width: 90px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: linear-gradient(to right, #66239C, #781E8D);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.cardTitle {
  font-size: 2.1rem;
  font-weight: 700;
  transition: color 0.3s ease;  
  text-align: center;
}

.cardStats:hover .cardTitle {
  color: #a844ff;
}

.cardDescription {
  font-size: 1.3rem;
  font-weight: 600;
  color: #7b7c8e;
  text-align: center;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}